

@{
    ViewData["Title"] = "Index";
}
<h2>HomePage Recepcije</h2>






<div class="list-group">
    <div class="list-group-item">@Html.ActionLink("Prikazi Check Ine", "Index", "CheckIN", new { }, new { @class = "btn btn-primary" })</div>

    <div class="list-group-item">@Html.ActionLink("Prikazi Goste", "Index", "Gost", new { }, new { @class = "btn btn-primary" })</div>
    <div class="list-group-item">@Html.ActionLink("Prikazi Feedbacke", "Index", "Feedback", new { }, new { @class = "btn btn-primary" })</div>
    <div class="list-group-item">@Html.ActionLink("Prikazi Rezervisane Usluge", "Index", "RezervisanaUsluga", new { }, new { @class = "btn btn-primary" })</div>
    <div class="list-group-item">@Html.ActionLink("Prikazi Rezervisane Smještaje", "Index", "RezervisanSmjestaj", new { }, new { @class = "btn btn-primary" })</div>
    <div class="list-group-item">@Html.ActionLink("Prikazi Dostave", "Index", "Dostava", new { }, new { @class = "btn btn-primary" })</div>

    <div class="list-group-item">@Html.ActionLink("Prikazi Racune", "Index", "Racun", new { }, new { @class = "btn btn-primary" })</div>
    <div class="list-group-item">@Html.ActionLink("Prikazi Zahtjeve za ciscenjem", "Index", "ZahtjevZaCiscenjem", new { }, new { @class = "btn btn-primary" })</div>
    <div class="list-group-item">@Html.ActionLink("Prikazi Tipove Usluga", "Index", "TipUsluge", new { }, new { @class = "btn btn-primary" })</div>
</div>




