@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazSmjestajaVM
@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Smještaj";
}
<br />
<style>
    td {
        text-align: center;
    }
    th{text-align:center;}
</style>
<form action="/ModulAdministracija/Smjestaj/PrikaziSmjestaj">
    <table>
        <tr>
            <td style="padding-right:10px;">
                @Html.TextBoxFor(x => x.BrojPretraga, new { @class = "form-control", placeholder = "Broj..." })
            </td>
            <td style="padding-right:10px;">
                @Html.DropDownListFor(x => x.StatusPretraga, Model.PretragaPoStatusu, new { @class = "form-control" })
            </td>
            <td>
                <input type="submit" class="btn btn-round btn btn-primary" value="Traži" />
            </td>
            <td>
                <a href="/ModulAdministracija/Smjestaj/DodajSmjestaj" class="btn btn-round btn btn-success">Novi smještaj</a>
            </td>
        </tr>
    </table>
</form>
<br />
<br />
<table class="table table-hover">
    <tr>
        <th>Broj</th>
        <th>Sprat</th>
        <th>Veličina</th>
        <th>Broj kreveta</th>
        <th>Vrsta</th>
        <th>Cijena noćenja</th>
        <th>Stanje</th>
        <th>Akcija</th>
    </tr>
    @foreach(Smjestaj s in Model.Smjestaji)
    {
        <tr>
            <td>@s.BrojSmjestaja</td>
            <td>@s.Sprat</td>
            <td>@s.Kvadratura m2</td>
            <td>@s.BrojKreveta</td>
            <td>@s.VrstaSmjestaja.Naziv</td>
            <td>@s.Cijena KM</td>
            @if (s.Zauzeto) { <td>Zauzeto</td>}
            @if (!s.Zauzeto) { <td>Slobodno</td>}
            <td><a href="/ModulAdministracija/Smjestaj/Uredi?id=@s.Id" class="btn btn-primary">Uredi</a>
                <a href="/ModulAdministracija/Pogodnost/PrikaziPogodnostiZaSmjestaj?id=@s.Id" class="btn btn-primary">Pogodnosti</a>
                <a href="/ModulAdministracija/Smjestaj/HistorijaIzdavanja?id=@s.Id" class="btn btn-primary">Izdavanja</a>
            </td>
        </tr>

    }
</table>

