@model Hotel.Web.Areas.ModulAdministracija.ViewModels.NovaUslugaHotelaVM
@{
    ViewData["Title"] = "Uredi";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
<h2>Uredi</h2>

<form action="/ModulAdministracija/UslugeHotela/Snimi">
    <table>
        <tr>
            <td>
                @Html.HiddenFor(x=>x.Id)
            </td>
        </tr>
        <tr>
            <td><b>Naziv</b></td>
            <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><b>Datum početka</b></td>
            @*<td>@Html.TextBoxFor(x => x.DatumPocetka, new { @class = "form-control" })</td>*@
            <td><input asp-for="DatumPocetka" class="form-control" /></td>
        </tr>
        <tr>
            <td><b>Datum završetka</b></td>
            @*<td>@Html.TextBoxFor(x => x.DatumZavrsetka, new { @class = "form-control" })</td>*@
            <td><input asp-for="DatumZavrsetka" class="form-control" /></td>
        </tr>
        <tr>
            <td><b>Opis</b></td>
            <td>@Html.TextBoxFor(x => x.Opis, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><b>Cijena</b></td>
            <td>@Html.TextBoxFor(x => x.Cijena, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Sačuvaj" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>



