@using Hotel.Data.Models;
@model Hotel.Web.Areas.ModulRestoran.ViewModels.PrikaziStavkeVM
@{
    ViewData["Title"] = "";
}


<style>
    #tabela td {
        text-align: center;
        padding: 10px;
    }

    #tabela th {
        text-align: center;
        padding: 10px;
    }


   .tdPolje {
        text-align: right;
        padding-right: 10px;
    }

    b {
        display: inline-block;
        width: 150px;
    }

    .tdValidacija {
        padding-left: 10px;
    }

    .validacija span {
        display: inline-block;
        width: 300px;
    }

    .form-control {
        margin-bottom: 10px;
        width: 250px;
    }

    .divKlasa {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>

<div class="divKlasa">
    <form action="/ModulRestoran/Narudzba/SnimiStavku">
        <table>
            <tr>
                <td>@Html.HiddenFor(x => x.NarudzbaId)</td>
            </tr>
            <tr>
                <th class="tdPolje">Proizvod:</th>
                <td>@Html.DropDownListFor(x => x.ProizvodId, Model.ProizvodiStavke, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <th class="tdPolje">Količina:</th>
                <td>@Html.TextBoxFor(x => x.Kolicina, new { @class = "form-control", @placeholder = "Unesite količinu" })</td>
                <td class="tdValidacija"><span class="validacija" style="color:red">@Html.ValidationMessageFor(x => x.Kolicina)</span></td>
            </tr>
            <tr>
                <td> </td>
                <td><input type="submit" value="Dodaj" class="btn btn-round btn btn-success" /></td>
            </tr>
        </table>
    </form>
</div>

<br /><br />

<table class="table table-hover" id="tabela">
    <tr>
        <th>Proizvod</th>
        <th>Vrsta</th>
        <th>Količina</th>
        <th>Mjerna jedinica</th>
        <th>Akcija</th>
    </tr>
    @foreach (Stavke s in Model.Stavke)
    {
        <tr>
            <td>@s.Proizvodi.Naziv</td>
            <td>@s.Proizvodi.Vrsta</td>
            <td>@s.Kolicina</td>
            <td>@s.Proizvodi.MjernaJedinica</td>
            <td><a href="/ModulRestoran/Narudzba/ObrisiStavku?Id=@s.Id" class="btn btn-danger">Obriši</a></td>
        </tr>
    }
</table>
