@using Hotel.Data.Models;
@{
   
    ViewData["Title"] = "PrikaziProizvode";
    int brojac = 1;
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazProizvodaVM
<h2>Prikazi proizvode</h2>
<style>
   #tabela td {
        text-align: center;
    }

   #tabela th {
        text-align: center;
    }
</style>

<form action="/ModulAdministracija/Proizvod/PrikaziProizvode">
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.NazivPretraga, new { @class = "form-control", placeholder = "Unesite naziv" })
            </td>
            <td>
                @Html.DropDownListFor(x => x.VrstaOdabir, Model.vrstaStavke, new { @class = "form-control" })
            </td>
            <td><input type="submit" value="Pretraži" class="btn btn-success" /></td>
        </tr>
    </table>
</form><br />

@*<a href="/ModulAdministracija/Proizvod/DodajProizvod" class="btn btn-primary" ajax-poziv="da" ajax-rezultat="ajaxdiv">Dodaj proizvod</a><br /><br />*@
<a class="btn btn-primary" id="dodajProizvodBtn">Dodaj proizvod</a><br /><br />

<div class="form-group" id="ajaxdiv"></div>
<script>
    $("#dodajProizvodBtn").click(function () {
        $.get("/ModulAdministracija/Proizvod/DodajProizvod?Link=~/Views/Shared/_LayoutAjax.cshtml", function (result) { 
            $("#ajaxdiv").html(result);
        });
    });
    
</script>





<table class="table table-striped" id="tabela">
    <tr>
        <th>R.br.</th>
        <th>Naziv</th>
        <th>Vrsta</th>
        <th>Cijena</th>
        <th>Količina</th>
        <th>Mjerna jedinica</th>
        <th>Akcija</th>
    </tr>
    @foreach (Proizvodi p in Model.Proizvodi)
    {
        <tr>
            <td>@(brojac++)</td>
            <td>@p.Naziv</td>
            <td>@p.Vrsta</td>
            <td>@p.Cijena</td>
            <td>@p.Kolicina</td>
            <td>@p.MjernaJedinica</td>
            <td><a href="/ModulAdministracija/Proizvod/UrediProizvod?Id=@p.Id" class="btn btn-info">Uredi</a>
                <a href="/ModulAdministracija/Proizvod/Obrisi?Id=@p.Id" class="btn btn-danger">Obriši</a></td>
        </tr>
    }
</table>
