@model Hotel.Web.Areas.ModulRecepcija.ViewModels.PrikaziNarudzbeVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Prikaži narudžbe";
}

<table class="table table-striped">

    <thead>
        <tr>
            <th>Datum kreiranja</th>
            <th>Hitnost</th>
            <th>Opis</th>
            <th>Ime zaposlenika</th>
            <th>Akcija </th>


        </tr>



    </thead>



    <tbody>
        @foreach (var i in Model.podaci)
        {
            <tr>
                <td>@i.DatumKreiranja</td>
                <td>@i.Hitnost</td>
                <td>@i.Opis</td>
                <td>@i.ImeZaposlenika</td>

                <td>
                    @Html.ActionLink("Detalji", "Detalji", "Narudzba", new { NarudzbaID = i.Id }, new { @class = "btn btn-success" })
                    @if (i.Zavrsena == false && i.Otkazana == false)
                    {
                        @Html.ActionLink("Uredi", "UrediNarudzbu", "Narudzba", new { id = i.Id }, new { @class = "btn btn-success" });
                            @Html.ActionLink("Otkazi", "ObrisiNarudzbu", "Narudzba", new { NarudzbaId = i.Id }, new { @class = "btn btn-danger" });
                        }
                        

                    </td>
    




                </tr>
        }
    </tbody>
</table>

<a asp-action="DodajNarudzbu" asp-controller="Narudzba" class="btn btn-success" ajax-poziv="da" ajax-rezultat="ajaxDiv">Dodaj narudžbu</a>

<div id="ajaxDiv">

</div>

