@model Hotel.Web.Areas.ModulRecepcija.ViewModels.ProizvodIndexVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Cijena</th>
            <th>Vrsta</th>
            <th>Akcija</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var i in Model.Proizvodi)
    {
        <tr>
            <td>@i.Naziv</td>
            <td>@i.Cijena</td>
            <td>@i.Vrsta</td>
            <td>
                @Html.ActionLink("Uredi", "Edit", "Proizvod", new { ProizvodId = i.ID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Obrisi", "Obrisi", "Proizvod", new {id=i.ID }, new { @class = "btn btn-success" })



            </td>
          
        </tr>
}

    </tbody>
</table>

