@using Hotel.Data.Models;
@{
    ViewData["Title"] = "PrikaziZaposlenike";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazZaposlenikaVM
    <br /><br />
<form action="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike">
    <table>
        <tr>
            <td>
                @Html.DropDownListFor(x => x.Tip, Model.tipoviStavke, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.ImePrezimePretraga, new { @class = "form-control", placeholder = "Ime i prezime" })
            </td>
            <td>
               <input type="submit" value="Pretraži" class="btn btn-success" />
            </td>
        </tr>
        <tr>
         
        </tr>
    </table> 
</form>
<br />
<a href="/ModulAdministracija/Zaposlenik/DodajZaposlenika" class="btn btn-success">Novi zaposlenik</a>


<br /><br />
<table class="table table-striped">
    <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Datum rođenja</th>
        <th>Telefon</th>
        <th>Bračni status</th>
        <th>Email</th>
        <th>Broj ugovora</th>
        <th>Datum zaposlenja</th>
        <th>JMBG</th>
        <th>Spol</th>
        <th>Aktivan</th>
        <th>Tip zaposlenja</th>
        <th>Akcija</th>
    </tr>
    
    @foreach(Zaposlenik z in Model.Zaposlenici)
    {
        <tr>
            <td>@z.Ime</td>
            <td>@z.Prezime</td>
            <td>@z.DatumRodjenja.ToString("dd-MM-yyyy")</td>
            <td>@z.Telefon</td>
            <td>@z.BracniStatus</td>
            <td>@z.Email</td>
            <td>@z.BrojUgovora</td>
            <td>@z.DatumZaposljenja.ToString("dd-MM-yyyy")</td>
            <td>@z.JMBG</td>
            <td>@z.Spol</td>
            @if (z.Aktivan)
            {<td>DA</td>}
            @if(!z.Aktivan)
            { <td>NE</td>}
            @if (z.isAdministrator)
            {
                <td>Administrator</td>
            }
            @if (z.isCistacica)
            {
                <td>Čistač</td>
            }
            @if (z.isKuhar)
            {
                <td>Kuhar</td>
            }
            @if (z.isRecepcioner)
            {
                <td>Recepcioner</td>
            }
            <td><a href="/ModulAdministracija/Zaposlenik/UrediZaposlenika?id=@z.Id" class="btn btn-primary">Uredi</a></td>
        </tr>

    }
</table>

