@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Zaposlenici";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazZaposlenikaVM
  
<style>
    td {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>



<form action="/ModulAdministracija/Zaposlenik/PrikaziZaposlenike">
    <table>
        <tr>
            <td style="padding-right:10px;">
                @Html.DropDownListFor(x => x.Tip, Model.tipoviStavke, new { @class = "form-control" })
            </td>
            <td style="padding-right:10px;">
               @Html.TextBoxFor(x => x.ImePrezimePretraga, new { @class = "form-control", placeholder = "Ime i prezime..." })
            </td>
            <td>
               <input type="submit" value="Pretraži" class=" btn btn-round btn btn-primary" />
            </td>
            <td>
                <a href="/ModulAdministracija/Zaposlenik/DodajZaposlenika" class=" btn btn-round btn-success">Novi zaposlenik</a>
            </td>
        </tr>
        <tr>
         
        </tr>
    </table> 
</form>
<br />


<br /><br />
<table id="tabela" class="table table-hover" >
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rođenja</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>JMBG</th>
            <th>Spol</th>
            <th>Grad</th>
            <th>Akcija</th>
        </tr>
    </thead>
   
    <tbody>
        @foreach (Zaposlenik z in Model.Zaposlenici)
        {
            <tr>
                <td>@z.Ime</td>
                <td>@z.Prezime</td>
                <td>@z.DatumRodjenja.ToString("dd.MM.yyyy")</td>
                <td>@z.Telefon</td>
                <td>@z.Email</td>
                <td>@z.JMBG</td>
                <td>@z.Spol</td>
                <td>@z.Grad.Naziv</td>
                <td>
                    <a href="/ModulAdministracija/Zaposlenik/ViseDetalja?Id=@z.Id" class="btn btn-primary">Više</a>
                    <a href="/ModulAdministracija/Zaposlenik/UrediZaposlenika?id=@z.Id" class="btn btn-primary">Uredi</a>
                </td>
            </tr>

        }
    </tbody>
</table>



<script type="text/javascript">
    $("#tabela").DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Croatian.json"
        },
        "searching": false,
        "ordering": false
    });
</script>
