@using Hotel.Data.Models;
@{
   
    ViewData["Title"] = "Naručeni proizvodi";
}
@model Hotel.Web.Areas.ModulRestoran.ViewModels.PrikaziStavkeDostaveVM
    <style>
    #tabela td {
        text-align: center;
        padding:10px;
    }

    #tabela th {
        text-align: center;
        padding:10px;
    }
</style>

<table class="table table-striped" id="tabela">
    <tr>
        <th>Proizvod</th>
        <th>Vrsta</th>
        <th>Cijena</th>
        <th>Količina</th>
        <th>Mjerna jedinica</th>
    </tr>
    @foreach(DostavaStavke d in Model.StavkeDostave)
    {
        <tr>
            <td>@d.Proizvod.Naziv</td>
            <td>@d.Proizvod.Vrsta</td>
            <td>@d.Proizvod.Cijena KM</td>
            <td>@d.Kolicina</td>
            <td>@d.Proizvod.MjernaJedinica</td>
        </tr>

    }
   
</table>
@if (Model.StavkeDostave.FirstOrDefault().Dostava.Zavrsena == false)
{
    <a href="/ModulRestoran/DostavaStavke/IsporuciDostavu?DostavaId=@Model.StavkeDostave.FirstOrDefault().DostavaId" class="btn btn-round btn btn-danger">Isporuči proizvode</a>
}
