@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Detalji CheckIn-a";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazDetaljaZaCheckINVM
    <style>
        td,th{text-align:center;
           
        }
        #tab1 td, th {
            padding: 10px;
        }
       #tab2 td,th{padding:10px;}
    </style>
<h2>Gosti koji su prijavljeni na odabrani check-in</h2>     
<table class="table table-striped" id="tab1">
    <tr>
        <th>Gost</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Državljanstvo</th>
        <th>Datum rođenja</th>
        <th>Broj smještaja</th>
        <th>Vrsta smještaja</th>
    </tr>
    
    @foreach (RezervisanSmjestaj s in Model.RezervisanSmjestaj)
    {
        <tr>
            <td>@s.Gost.Ime @s.Gost.Prezime</td>
            <td>@s.Gost.Email</td>
            <td>@s.Gost.Telefon</td>
            <td>@s.Gost.Drzavljanstvo</td>
            <td>@s.Gost.DatumRodenja.ToString("dd.MM.yyyy")</td>
            <td>@s.Smjestaj.BrojSmjestaja</td>
            <td>@s.Smjestaj.VrstaSmjestaja.Naziv</td>
        </tr>
    }
</table>

<b>Broj gostiju na check-inu:</b><span style="color:red;">          @Model.BrojGostiju</span>


<br />
<br />
<h2>Usluge koje su odabrane na odabrani check-in</h2>
<table class="table table-striped" id="tab2">
    <tr>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Datum početka</th>
        <th>Datum završetka</th>
    </tr>
    @foreach (RezervisanaUsluga u in Model.RezervisaneUsluge)
    {
        <tr>
            <td>@u.UslugeHotela.Naziv</td>
            <td>@u.UslugeHotela.Opis</td>
            <td>@u.UslugeHotela.DatumPocetka.ToString("dd.MM.yyyy HH:mm")</td>
            <td>@u.UslugeHotela.DatumZavrsetka.ToString("dd.MM.yyyy HH:mm")</td>
        </tr>
    }
</table>


