@model Hotel.Web.Areas.ModulRecepcija.ViewModels.DostavaDodajVM
@{
    ViewData["Title"] = "Nova dostava";
}

<form asp-action="Dodaj" asp-controller="Dostava" method="post">
    <input asp-for="DostavaId" value="@Model.DostavaId" hidden />
    <input asp-for="RezervisanSmjestajId" value="@Model.RezervisanSmjestajId" hidden />

    <div class="form-group">
        <label>Datum</label>
        <input class="form-control" asp-for="Datum" readonly />

    </div>

    <div class="form-group">
        <label>Podaci o smještaju</label>
        <input class="form-control" asp-for="PodaciOSmjestaju" readonly />

    </div>

    <a asp-action="DodajStavku" asp-controller="Dostava" asp-route-DostavaId="@Model.DostavaId" asp-route-RezervisanSmjestajId="@Model.RezervisanSmjestajId" ajax-poziv="da" ajax-rezultat="ajaxDiv2" class="btn btn-warning">Dodaj stavku</a>

   
    <a id="Pozovi2" asp-action="StavkeDostaveNaSmjestaj" asp-controller="Dostava" asp-route-DostavaId="@Model.DostavaId" ajax-poziv="da" ajax-rezultat="ajaxDiv2"></a>

   

    <input type="submit" value="Spasi dostavu" class="btn btn-danger" />

</form>

   
    <div id="ajaxDiv2" ></div>


<script type="text/javascript">
  
    $(document).ready(function () {
        $("#Pozovi2").click()
    });

</script>




