@model Hotel.Web.Areas.ModulRecepcija.ViewModels.DostavaIndexVM
@{
    ViewData["Title"] = "Dostave";
}



<table class="table table-striped" id="tabela">

    <thead>
        <tr>
            <th>Rezervisan smjestaj</th>
            <th>Broj stavki</th>
            <th>Datum</th>
            <th>Zavrsena</th>
            <th>Akcija</th>

        </tr>
    </thead>

        <tbody>
            @foreach (var item in Model.dostave)
    {
            <tr>
                <td>@item.RezervisanSmjestaj</td>
                <td>@item.BrojStavki</td>
                <td>@item.Datum</td>
                <td>@(item.Zavrsena ? "Da" : "Ne")</td>
                <td>@Html.ActionLink("Uredi","Uredi","Dostava",new { DostavaId= item.DostavaId },new { @class="btn btn-primary"})</td>


            </tr>
}


        </tbody>

</table>

<script type="text/javascript">
    $('#tabela').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Croatian.json"
        }
    });
   
</script>