@model Hotel.Web.Areas.ModulRecepcija.ViewModels.RezervisanSmjestajIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Index";
}
<h2>Rezervisani Smjestaji</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Podaci o rezervaciji</th>
            <th>Podaci o gostu</th>
            <th>Podaci o smještaju</th>
            <th>Akcije</th>

        </tr>

    </thead>
    <tbody>

        @foreach (var i in Model.smjestaji)
        {
            <tr>
                <td>@i.CheckIN</td>
                <td>@i.Gost</td>
                <td>@i.Smjestaj</td>
                <td>
                    @Html.ActionLink("Detalji", "IndexOdabranogSmjestaja", "RezervisanSmjestaj",new { CheckINId=i.CheckINID, SmjestajId=i.SmjestajId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Obrisi", "Obrisi", "RezervisanSmjestaj", new { ID = i.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Usluge", "UslugeOdabranogSmjestaja", "RezervisanaUsluga", new { RezervisanSmjestajID=i.Id },new {@class="btn btn-warning"})
                  


                </td>
            </tr>
        }

    </tbody>
</table>
@*@Html.ActionLink("Dodaj novi Rezervisani Smjestaj", "Dodaj", "RezervisanSmjestaj", new { }, new { @class = "btn btn-success" })*@
@Html.ActionLink("Prikazi smještaje", "ProvjeriSlobodanSmjestaj", "RezervisanSmjestaj", new { }, new { @class = "btn btn-success" })


