@model Hotel.Web.Areas.ModulRecepcija.ViewModels.RezervisanSmjestajProvjeriSlobodanSmjestajVM
@{

    ViewData["Title"] = "Smjestaj";

}

<div class="wrapper center-block">

    @for (int i = 0; i < Model.lista.Count; i++)
    {

        if (Model.lista[i].Zauzeto == false)
        {
            <div class="kucara">
                <div class="form-group">
                    <label> Broj sobe/vrsta</label>
                    <input asp-for="@Model.lista[i].OpisSobe" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label> Soba slobodna</label>
                </div>
            </div>
        }
        else
              
        {
            <div class="kucara">
                <div class="form-group">
                    <label> Broj sobe/vrsta</label>
                    <input asp-for="@Model.lista[i].OpisSobe" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label>Rezervisana: </label>
                    <input asp-for="@Model.lista[i].Rezervisao" class="form-control" readonly />
                </div>
                <div class="form-group">

                    <input asp-for="@Model.lista[i].BoraviOdDo" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label>Gost: </label>
                    <input asp-for="@Model.lista[i].Gost" class="form-control" readonly />
                </div>
                <a class="btn btn-warning dugme" asp-action="Dodaj" asp-controller="Dostava" asp-route-RezervisanSmjestajId="@Model.lista[i].RezervisanSmjestajId">Dostava u sobu</a><br />
                <a class="btn btn-warning dugme" asp-action="Dodaj" asp-controller="RezervisanaUsluga" asp-route-RezervisanSmjestajID="@Model.lista[i].RezervisanSmjestajId">Dodaj uslugu</a>


            </div>
        }
    }

</div>

<style type="text/css">
   
    .dugme {
        margin-top:5px;
        width:125px;
    }
    .kucara {
        background-color: #2A3F54;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: 0 auto;
        font-size: 150%;
        height: auto;
    }

        .kucara:nth-child(even) {
            background-color: #2A3F54;
            color: #fff;
        }

    .wrapper {
       
        display: grid;
        margin: 0 auto;
        text-align: center;
        grid-gap: 65px;
        grid-template-columns: repeat(5,125px);
    }
</style>
