@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Prikaz gostiju";
    int brojac = 0;
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazGostijuVM
<style>
    th {
        text-align: center;
    }
    td{text-align:center;}
</style>

<form action="/ModulAdministracija/Gost/PrikaziGoste">
   
    <table>
        <tr>
            <th>
                Ime i prezime:
            </th>
            <td>
                @Html.TextBoxFor(m => m.ImePrezimePretraga, new { placeholder = "Ime i prezime...", @class ="form-control" })
            </td>
            <td>
                @Html.DropDownListFor(x => x.PretragaGrad, Model.GradoviStavke,new { @class = "form-control" })
            </td>
            <td>
                <input type="submit" class="btn btn-success" value="Pretraži" />
            </td>
        </tr>
    </table>
   
</form>

<br /><br />
    <table class="table table-striped">
        <tr>
            <th>R.br.</th>
            <th>Ime i prezime</th>
            <th>Datum rođenja</th>
            <th>Broj pasoša</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Državljanstvo</th>
            <th>Spol</th>
            <th>Grad</th>
            <th>Država</th>
            <th>Akcija</th>
        </tr>
        
        @foreach (Gost g in Model.Gosti)
        {
            <tr>
                <td>@(++brojac)</td>
                <td>@g.Ime @g.Prezime</td>
                <td>@g.DatumRodenja.ToString("dd.MM.yyyy")</td>
                <td>@g.BrojPasosa</td>
                <td>@g.Email</td>
                <td>@g.Telefon</td>
                <td>@g.Drzavljanstvo</td>
                <td>@g.Spol</td>
                <td>@g.Grad.Naziv</td>
                <td>@g.Grad.Drzava.Naziv</td>
                <td><a href="/ModulAdministracija/Gost/PrikaziDetaljeGosta?gostId=@g.Id" class="btn btn-success">Info</a></td>
            </tr>
        }
    </table>


