@using Hotel.Data.Models;
@{
    ViewData["Title"] = "Detalji boravaka za gosta";
}
@model Hotel.Web.Areas.ModulAdministracija.ViewModels.PrikazDetaljaZaGostaVM
<style>
    td {
        text-align: center;
    }
    th{text-align:center;}
</style>


<table class="table table-striped">

    <tr>
        <th>Datum prijave</th>
        <th>Datum odjave</th>
        <th>Nosilac check-ina</th>
        <th>Tip usluge</th>
        <th>Broj smještaja</th>
        <th>Vrsta smještaja</th>
        <th>Zaposlenik</th>
    </tr>

    @foreach (RezervisanSmjestaj s in Model.RezervisaniSmjestaji)
    {
        <tr>
            <td>@s.CheckIN.DatumDolaska.ToString("dd.MM.yyyy")</td>
            <td>@s.CheckIN.DatumOdlaska.ToString("dd.MM.yyyy")</td>
            <td>@s.CheckIN.Gost.Ime @s.CheckIN.Gost.Prezime</td>
            <td>@s.CheckIN.TipUsluge.Naziv</td>
            <td>@s.Smjestaj.BrojSmjestaja</td>
            <td>@s.Smjestaj.VrstaSmjestaja.Naziv</td>
            <td>@s.CheckIN.Zaposlenik.Ime @s.CheckIN.Zaposlenik.Prezime</td>
        </tr>
    }

</table>



