@model Hotel.Web.Areas.ModulRecepcija.ViewModels.GostIndexVM
@{
    ViewData["Title"] = "Gosti";
}


<br />
<form asp-action="Index" asp-controller="Gost" method="get">

    <div class="form-group">
        <label>Pretraga po imenu i/ili prezimenu :</label>
        @Html.TextBox("ImePrezimePretraga", "", new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-success" value="Pretraži" />

</form>
<br />

<table class="table table-striped tabela">

    <thead>
        <tr>
            <th>Ime i prezime</th>
            
            <th>Broj pasoša</th>
            <th>Državljanstvo </th>
            
            <th>Telefon </th>
            <th>Email </th>
            <th>Spol </th>
            <th>Akcija</th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Gosti)
        {

            <tr>

                <td>@i.ImePrezime</td>
               
                <td>@i.BrojPasosa</td>
                <td>@i.Drzavljanstvo</td>
               
                <td>@i.Telefon</td>
                <td>@i.Email</td>
                <td>@i.Spol</td>


                <td>

                    @Html.ActionLink("Na ChIn", "Dodaj", "CheckIN", new { GostId = i.Id }, new { @class = "btn btn-info dugmad" })
                </td>
                <td>
                    <a asp-controller="Gost" asp-action="Uredi" asp-route-GostID="@i.Id" class="btn btn-success dugmad"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a asp-controller="Gost" asp-action="Obrisi" asp-route-GostID="@i.Id" class="btn btn-danger dugmad"><i class="fa fa-trash"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>






<style type="text/css">
    /*.dugmad {
        width: 40px;
        text-align: center;
        margin-top: 5px;
        padding: 5px;
        display:inline;
    }*/


</style>

<script type="text/javascript">
    $('.tabela').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Croatian.json",
        },
        "ordering": false,
        "searching": false,
       
    });

</script>