@model Hotel.Web.Areas.ModulRecepcija.ViewModels.GostIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Odaberite gosta</h2>
<br />
    <form asp-action="Index" asp-controller="Gost" method="get">

        <div class="form-group">
            <label>Pretraga po imenu i/ili prezimenu :</label>
            @Html.TextBox("ImePrezimePretraga", "", new { @class = "form-control" })
        </div>

        <input type="submit" class="btn btn-success" value="Pretraži" />

    </form>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Ime i prezime</th>               
                <th>Grad</th>
                <th>Broj pasoša</th>
                <th>Državljanstvo </th>
                <th>Datum rodenja </th>
                <th>Telefon </th>
                <th>Email </th>
                <th>Spol </th>

            </tr>



        </thead>



        <tbody>
            @foreach (var i in Model.Gosti)
            {
              
                    <tr>

                        <td>@i.ImePrezime</td>                      
                        <td>@i.Grad</td>
                        <td>@i.BrojPasosa</td>
                        <td>@i.Drzavljanstvo</td>
                        <td>@i.DatumRodenja</td>
                        <td>@i.Telefon</td>
                        <td>@i.Email</td>
                        <td>@i.Spol</td>


                        <td>
                           
                            @Html.ActionLink("Kreiraj CheckIn", "Dodaj", "CheckIN", new { GostId = i.Id }, new { @class = "btn btn-info dugmad" })
                           
                            @Html.ActionLink("Uredi", "Uredi", "Gost", new { GostID = i.Id }, new { @class = "btn btn-success dugmad" })
                            @Html.ActionLink("Obrisi", "Obrisi", "Gost", new { GostID = i.Id }, new { @class = "btn btn-danger dugmad" })

                        </td>




                    </tr>
                
            }
        </tbody>
    </table>
    @Html.ActionLink("Dodaj novog gosta", "Dodaj", "Gost", new { }, new { @class = "btn btn-primary" })

  

<style type="text/css">
    .dugmad {
        width: 92px;
        text-align: center;
        margin-top: 5px;
        padding: 5px;
        display:inline;
    }

   
</style>