@model Hotel.Web.Areas.ModulRecepcija.ViewModels.GostIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Odaberite Gosta</h2>

<form asp-action="Index" asp-controller="Gost" method="get">

    <div class="form-group">
        <label>Pretraga po imenu i/ili prezimenu :</label>
        @Html.TextBox("ImePrezimePretraga", "",new {@class="form-control" })
    </div>

    <input type="submit" class="btn btn-success" value="Pretraži" />

</form>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Grad</th>
            <th>Broj Pasosa</th>
            <th>Drzavljanstvo </th>
            <th>Datum Rodenja </th>
            <th>Telefon </th>
            <th>Email </th>
            <th>Spol </th>

        </tr>



    </thead>



    <tbody>
        @foreach (var i in Model.Gosti)
        {
        <a asp-action="Dodaj" asp-controller="CheckIN" asp-route-GostId="@i.Id">
            <tr>

                <td>@i.Ime</td>
                <td>@i.Prezime</td>
                <td>@i.Grad</td>
                <td>@i.BrojPasosa</td>
                <td>@i.Drzavljanstvo</td>
                <td>@i.DatumRodenja</td>
                <td>@i.Telefon</td>
                <td>@i.Email</td>
                <td>@i.Spol</td>


                <td>
                    @*<a asp-controller="Gost" asp-action="Uredi" asp-route-GostID="@i.Id " ajax-poziv="da" ajax-rezultat="ajaxDiv" class = "btn btn-success">Uredi</a>*@
                    @Html.ActionLink("Nastavi na CheckIn", "Dodaj", "CheckIN", new { GostId = i.Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Uredi", "Uredi", "Gost", new { GostID = i.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Obrisi", "Obrisi", "Gost", new { GostID = i.Id }, new { @class = "btn btn-danger" })

                </td>




            </tr>
        </a>
        }
    </tbody>
</table>
@Html.ActionLink("Dodaj novog gosta", "Dodaj", "Gost", new { }, new { @class = "btn btn-primary" })

<div id="ajaxDiv"></div>