@model Hotel.Web.Areas.ModulRecepcija.ViewModels.CheckINIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Check ini";
}



@using (Html.BeginForm("Index", "CheckIN", FormMethod.Get))
{

    <div class="container">
        <h3>Pretrazi po: </h3>
        <div class="form-row">
            <div class="col-sm-1">
                <label>Imenu</label><br />
                @Html.RadioButton("PretraziPo", "Ime")

            </div>

            <div class="col-sm-1">
                <label>Pasošu</label><br />
                @Html.RadioButton("PretraziPo", "BrojPasosa")

            </div>

            <div class="col-sm-1">
                <label>Sve</label><br />
                @Html.RadioButton("PretraziPo", "Sve")

            </div>

        </div>
    </div>
    <div class="form-inline">
        @Html.TextBox("pretraga", "", new { @class = "form form-control pretrag" }) <input type="submit" value="Trazi" class="btn btn-primary" id="trazi"/>
    </div>

}



<br /><br />
<table class="table table-striped tabela">

    <thead>
        <tr>
            <th>Nosioc Check ina</th>
            <th>Broj Pasosa</th>
            <th>BrojDjece</th>
            <th>BrojOdraslih</th>
            <th>Datum dolaska </th>
            <th>Datum odlaska </th>
            <th>Tip usluge </th>
            <th>Napomena </th>
            <th>Zaposlenik </th>
            <th>Akcija </th>


        </tr>



    </thead>

    @if (Model.Brojac == 0)
    {
        <tbody>
            <tr>
                <td colspan="10">Nijedan zapis ne odgovara kriteriju pretrage</td>
            </tr>
        </tbody>
    }
    else
    {
        <tbody>
            @foreach (var i in Model.CheckINI)
            {
                <tr>

                    <td>@i.Gost</td>
                    <td>@i.BrojPasosa</td>
                    <td>@i.BrojDjece</td>
                    <td>@i.BrojOdraslih</td>
                    <td>@i.DatumDolaska</td>
                    <td>@i.DatumOdlaska</td>
                    <td>@i.TipUsluge</td>
                    <td>@i.Napomena</td>
                    <td>@i.Zaposlenik</td>


                    <td>
                        <a asp-action="Detalji" asp-controller="Gost" asp-route-GostId="@i.GostId" asp-route-ImeKontrolera="CheckIn" asp-route-ImeAkcije="Index" ajax-poziv="da" ajax-rezultat="ajaxDiv" id="jbtn" class="btn btn-primary dugmad"><span>Detalji gosta</span></a>
                       
                        <a asp-action="CheckOut" asp-controller="CheckIN" asp-route-GostId="@i.GostId" class="  btn btn-info dugmad" data-toggle="modal" data-target="#exampleModal"><span>Check-Out</span></a>




</tr>
            }
        </tbody>
    }
</table>
@Html.ActionLink("Dodaj", "OdaberiteGosta", "CheckIN", new { }, new { @class = "btn btn-success" })

<div class="form-group" id="ajaxDiv"> </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">


            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .dugmad {
        margin-top: 5px;
        width: 80px;
        text-align: center;     
        padding:2px;
    }
    #trazi{
        margin-bottom:0px;
        margin-right:0px;
    }
    #akcija{
        text-align:center;
    }
    .pretrag {
        width: 25%;
    }
</style>

<script type="text/javascript">
    $('.tabela').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Croatian.json",
        },
        "ordering": false
    });
    </script>