@model Hotel.Web.Areas.ModulRecepcija.ViewModels.CheckINIndexVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Index";
}
<h1>Check ini</h1>


@using (Html.BeginForm("Index", "CheckIN", FormMethod.Get))
{
    <div class="container">
        <h3>Pretrazi po: </h3>
        <div class="form-row">
            <div class="col-sm-1">
                <label>Imenu</label><br />
                @Html.RadioButton("PretraziPo", "Ime")

            </div>

            <div class="col-sm-1">
                <label>Pasošu</label><br />
                @Html.RadioButton("PretraziPo", "BrojPasosa")

            </div>

            <div class="col-sm-1">
                <label>Sve</label><br />
                @Html.RadioButton("PretraziPo", "Sve")

            </div>

        </div>
    </div>
    <div class="form-inline">
        @Html.TextBox("pretraga","",new { @class="form form-control pretrag"}) <input type="submit" value="Trazi" class="btn btn-default"/>
    </div>
    
}



<br /><br />
<table class="table table-striped">

    <thead>
        <tr>
            <th>Nosioc Check ina</th>
            <th>Broj Pasosa</th>
            <th>BrojDjece</th>
            <th>BrojOdraslih</th>
            <th>Datum dolaska </th>
            <th>Datum odlaska </th>            
            <th>Tip usluge </th>
            <th>Napomena </th>
            <th>Zaposlenik </th>
            <th colspan="2">Akcija </th>


        </tr>



    </thead>

    @if (Model.Brojac == 0)
    {
        <tbody>
            <tr>
                <td colspan="10">Nijedan zapis ne odgovara kriteriju pretrage</td>
            </tr>
        </tbody>
    }
    else
    {
        <tbody>
            @foreach (var i in Model.CheckINI)
            {
            <tr>

                <td>@i.Gost</td>
                <td>@i.BrojPasosa</td>
                <td>@i.BrojDjece</td>
                <td>@i.BrojOdraslih</td>
                <td>@i.DatumDolaska</td>
                <td>@i.DatumOdlaska</td>              
                <td>@i.TipUsluge</td>
                <td>@i.Napomena</td>
                <td>@i.Zaposlenik</td>


                <td >
                    <a asp-action="Detalji" asp-controller="Gost" asp-route-GostId="@i.GostId" asp-route-ImeKontrolera="CheckIn" asp-route-ImeAkcije="Index" ajax-poziv="da" ajax-rezultat="ajaxDiv" id="jbtn" class="btn btn-success dugmad">Detalji gosta</a><br />
                    <a asp-action="Dodaj" asp-controller="Feedback" asp-route-CheckINId="@i.Id" asp-route-GostId="@i.GostId" ajax-poziv="da" ajax-rezultat="ajaxDiv" id="jbtn" class=" btn btn-success dugmad">Feedback</a>
                </td>
                    <td>
                    <a asp-action="CheckOut" asp-controller="CheckIN" asp-route-GostId="@i.GostId" class="  btn btn-primary dugmad" data-toggle="modal" data-target="#exampleModal">Check-Out</a><br />
                    @Html.ActionLink("Obrisi", "Obrisi", "CheckIN", new { Id = i.Id }, new { @class = "  btn btn-danger dugmad" })
                </td>


            </tr>
            }
        </tbody>
    }
</table>
@Html.ActionLink("Dodaj", "OdaberiteGosta", "CheckIN",new  { },new { @class="btn btn-success"})

<div class="form-group" id="ajaxDiv"> </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
               
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .dugmad {
       width:92px;
       text-align:center;
        margin-top: 5px;
        padding:5px;
    }
    .pretrag{
        width:25%;
    }

</style>